* {
	box-sizing: border-box;
	padding: 2px;
}

input {
	margin: 5px;
}

button {
	cursor: pointer;
	margin: 5px;
	font-weight: bold;
}

.shadow {
	box-shadow: 1px 1px 2px grey;
}

/* Setting buttons*/
.start-btn {
	color: green;
}
.reset-btn {
	color: red;
}

/* Layout */
.instruction {
	padding: 20px;
	margin-bottom: 10px;
}
.setting {
	margin: 10px;
}

/* Game table */
.game-board {
	margin: 10px;
}
table {
	border-collapse: collapse;
}
.cell {
	cursor: pointer;
	border: 1px solid black;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: xx-large;
}
.cell:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.history {
	border: 1px solid black;
	height: 100%;
	overflow: auto;
	max-height: 400px;
	padding: 10px;
	margin: 10px;
}
.history ul {
	list-style: none;
}
.history-list {
	cursor: pointer;
}
.history-list:hover {
	color: red !important;
}